<div class="row">
    <div class="col-xs-12">
     
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ employee.firstName }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div
        class="btn-group"
        appDropdown>
        <button
          type="button"
          class="btn btn-primary dropdown-toggle">
          Manage Employee <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
         
          <li><a style="cursor: pointer;" (click)="onEditRecipe()">Edit Employee</a></li>
          <li><a style="cursor: pointer;" (click)="onDeleteRecipe()">Delete Employee</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{ employee.firstName }}
    </div>
  </div>
  